moons-sewing/img/uploads/* filter=lfs diff=lfs merge=lfs -text
moons-sewing/img/uploads/** filter=lfs diff=lfs merge=lfs -text
directory filter=lfs diff=lfs merge=lfs -text
moons-sewing/** filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
